@font-face {
  font-family: "Bold";
  src: url("./assets/Fonts/GoogleSans_17pt-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Medium";
  src: url("./assets/Fonts/GoogleSans_17pt-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Regular";
  src: url("./assets/Fonts/GoogleSans_17pt-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SemiBold";
  src: url("./assets/Fonts/GoogleSans_17pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}